* {
    /*background-color: #262626;*/
    font-family: sans-serif;
}

nav {
    width: auto;
    height: 50%;
    background-color: #3e5437;
    /*overflow: hidden;*/
  }
  
  .logo-image {
    margin-top: -50px;
    height:auto;
    width:auto;
    float: left;
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    background-color: #3e5437;
    align-items: center;
  }

  .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3e5437;
  }
  
  .nav-item {
    display: flex;
    padding: 8px;
    justify-content: space-around;
    align-items: center;
    background-color: #3e5437;
    font-weight: bold;
    font-size: x-large;
  }
  
  .nav-item a {
    display: flex;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
  }
  
  .navtitle {
    background-color: #3e5437;
  }

  .nav-item:hover {
    background-color: #f87c23;
  }
  
  .nav-item:hover a {
    color: #f87c23;
  }


.hero {
    color: #CE751D;
}
