* {
    background-color: #262626;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    width: 100%;
    background-color: #3e5437;
    padding-left: 2px;
  }
  
  .logo-image {
    width: 146px; 
    height: 68px;
    display: inline-block;
    vertical-align: top;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #3e5437;
    align-items: center;
  }

  .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e5437;
  }
  
  .nav-item {
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
    background-color: #3e5437;
  }
  
  .nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
  }
  
  .navtitle {
    background-color: #3e5437;
  }

  .nav-item:hover {
    background-color: #f87c23;
  }
  
  .nav-item:hover a {
    color: #f87c23;
  }


.hero {
    color: #CE751D;
}
