* {
    background-color: #1e1e1e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  display: flex;
  width: 100%;
  margin-left: -2%;
  padding-right: 10%;
  padding-bottom: 2%;
  margin-top: -2%;
  padding-top: 2%;
  overflow: hidden;
  justify-content: space-between;
  background-color: #3e5437;
  align-items: center;
 
}
  
.logo-image {
    display: flex;
    align-items: center;
    padding-left: 4%;
    max-width: 10em;
    min-width: 5em;
    width: 100%;
    background-color: #3e5437;
  }

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e5437;
  }
  
.nav-item {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    font-weight: 549;
    font-size: 1.3em;
    background-color: #3e5437;
  }
  
.nav-item a {
    display: flex;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
  }

.nav-item:hover {
    background-color: #f87c23;
  }
  
.nav-item:hover a {
    color: #f87c23;
  }

.hero {
    background-image: url('/fire.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin-top: -1%;
    margin-left: -2%;
    margin-right: -8%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero-quote-background {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  margin-bottom: 0;
  background-color: #6c9360;
  border-radius: 5%;
  opacity: 0.9;
  background-position: center;
  height: 50%;
  width: 55%;
}

.hero-quote {
  display: flex;
  align-items: center;
  background-color: #6c9360;
  opacity: 0.95;
  font-weight: medium;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.75;
  justify-content: center;
  margin: auto;
}

.stories-background {
  background-image: url('/feathers.jpg');
  background-repeat: repeat-x; 
  background-position: right;
  height: 50%;
  width: 80%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: -8%;
  display: flex;
  flex-direction: column;
  flex: 2;
}

.stories-link-background {
  display: flex;
  margin-left: -38%;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #f87c23;
  opacity: 0.9;
  background-position: center;
  height: 30%;
  width: 55%;
}

.stories-link {
  display: flex;
  align-items: center;
  background-color: #f87c23;
  opacity: 0.95;
  font-weight: medium;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.75;
  justify-content: center;
  margin: auto;
  font-weight: medium;
  font-size: 2.5em;
}

.support-background {
  background-image: url('/regrowth.jpg');
  background-repeat: repeat-x; 
  background-position: left;
  height: 50%;
  width: 80%;
  margin-top: 2em;
  margin-right: auto;
  margin-left: -8%;
  display: flex;
  flex-direction: column;
  flex: 2;
}

.support-link-background {
  display: flex;
  margin-left: auto;
  margin-right: -45%;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #6c9360;
  opacity: 0.9;
  background-position: center;
  height: 30%;
  width: 55%;
}

.support-link {
  display: flex;
  align-items: center;
  background-color: #6c9360;
  opacity: 0.95;
  font-weight: medium;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.75;
  justify-content: center;
  margin: auto;
  font-weight: medium;
  font-size: 2.5em;
}